ul{
	list-style-type: none;
}

#mainpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	

}


#navtop {
	display: flex;
	justify-content: flex-end;
}

.topdroite{
	display: flex;
	justify-content: space-between;
}
#navbot {
	display: flex;
	border-top: 1px solid black;
	justify-content: space-between;

}

.droite{
	display: flex;
	justify-content: flex-end;
}

.gauche{
	display: flex;
	justify-content: flex-start;
}