body{
	font-family: arial, sans-serif;
}


ul{
	list-style-type: none;
}

#mainpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	margin-top: 8%;
}

#searchbar {
	width: 632px;
	height: 44px;
	margin: 25px;
}

.bouton{
	width: 150px;
	height: 36px;
}


#navtop {
	display: flex;
	justify-content: flex-end;

}

.topdroite{
	display: flex;
	padding-left: 27px;


}
#navbot{
	display: flex;
	border-top: 1px solid grey;
	justify-content: space-between;

}

.droite{
	display: flex;
	justify-content: flex-end;
}

.gauche{
	display: flex;
	justify-content: flex-start;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
	font-size: small;
	line-height: 40px;
	background: #f2f2f2;
}

.botgauche{
	padding-left: 27px;
}

.botdroite{
	padding-left: 27px;
}
